html,body{
    height:100%;
    overflow: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    flex-direction: row;
}

img{
    position: absolute;
    margin-top: 80px;
    z-index: -1;
    height: 680px;
    width: 950px;
}
#container {
    display: inline-grid;
    grid-template-columns: repeat(16,1fr);
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.squares {
    min-width: auto;
    min-height: auto;
    background-color: #cadc9f;
    border: 1px solid white;
}

/* #0f380f */